<ion-card>
  <!-- ion-label class="ion-text-wrap">
    <ion-button class="step-button" color="warning" id="button-back">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-button class="step-button" color="success" id="button-next">
      Siguiente<ion-icon name="play-circle-outline"></ion-icon>
    </ion-button>
  </ion-label -->
  <ion-card-header>
    <ion-card-title class="step-number" id="step-number">{{ step.number }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p id="step-detail">{{ step.detail }}</p>
  </ion-card-content>
</ion-card>
